In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv'

df = pd.read_csv(url)
df.head()

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

Посчитайте среднюю зарплату (Wage) и цену (Value) игроков разных позиций (Position). Представители какой позиции имеют самую высокую среднюю цену?

In [37]:
#задание 1
ndf=df.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'], ascending=False).head(1)
ndf.index[0]

'LF'


Какова средняя зарплата футболистов на данной позиции?

In [38]:
ndf.Wage[0]

75125.0

Посчитайте среднюю (mean) и медианную (median) зарплату (Wage) футболистов из разных клубов (Club). В скольких клубах средняя и медианная зарплаты совпадают?

Подсказка: чтобы в процессе группировки применить к данным одновременно две агрегирующие функции, необходимо указать их как аргументы метода agg:

In [121]:
#задание 1
g=df.groupby(['Club'])[['Wage']].agg(['mean', 'median'])
g

                              Wage
                              mean median
Club
 SSV Jahn Regensburg   3750.000000   3500
1. FC Heidenheim 1846  3800.000000   3000
1. FC Kaiserslautern   1434.782609   1000
1. FC Köln             9200.000000   4000
1. FC Magdeburg        4000.000000   4000
...                            ...    ...
Zagłębie Sosnowiec     1080.000000   1000
Çaykur Rizespor        5363.636364   4500
Örebro SK              1384.615385   1000
Östersunds FK          1950.000000   1000
Śląsk Wrocław          2083.333333   2000

[650 rows x 2 columns]

In [139]:
r=[]
for i in range(len(g.Wage['median'].index)):
    if g.Wage['median'][i] == g.Wage['mean'][i]:
         r.append(g.Wage['median'].index[i])
r

['1. FC Magdeburg',
 'AEK Athens',
 'AJ Auxerre',
 'Benevento',
 'Bohemian FC',
 'Boyacá Chicó FC',
 'Bray Wanderers',
 'Brøndby IF',
 'CD Feirense',
 'CD Tondela',
 'Cork City',
 'Cruzeiro',
 'Deportivo Pasto',
 'Dinamo Zagreb',
 'Dundalk',
 'Dynamo Kyiv',
 'Envigado FC',
 'FC Energie Cottbus',
 'FC Metz',
 'Grimsby Town',
 'Göztepe SK',
 'HJK Helsinki',
 'Heracles Almelo',
 'IF Brommapojkarna',
 'IK Sirius',
 'Itagüí Leones FC',
 'Jaguares de Córdoba',
 'Jeonnam Dragons',
 'Kaizer Chiefs',
 'Kashiwa Reysol',
 'Limerick FC',
 'Lokomotiv Moscow',
 'Northampton Town',
 'Olympiacos CFP',
 'Orlando Pirates',
 'PAOK',
 'PFC CSKA Moscow',
 'Panathinaikos FC',
 'Patriotas Boyacá FC',
 'Philadelphia Union',
 'Pohang Steelers',
 'SK Slavia Praha',
 'Shakhtar Donetsk',
 'Shamrock Rovers',
 'Sligo Rovers',
 'Sparta Praha',
 'Spartak Moscow',
 "St. Patrick's Athletic",
 'Stade Brestois 29',
 'Sunderland',
 'Trelleborgs FF',
 'Viktoria Plzeň']

Продолжаем работать с клубами, в которых средняя зарплата совпадает с медианной. Каков максимальный размер средней зарплаты в этой группе клубов?

In [145]:
#задание 2
m=[]
for i in range(len(g.Wage['median'].index)):
    if g.Wage['median'][i] == g.Wage['mean'][i]:
         m.append(g.Wage['mean'][i])
maxim=max(m)
maxim

13000.0

Как называется клуб, где игроки получают такую зарплату?

In [146]:
for i in range(len(g.Wage['median'].index)):
    if (g.Wage['median'][i] == g.Wage['mean'][i])&(g.Wage['mean'][i]==maxim):
         print(g.Wage['mean'].index[i])

Cruzeiro

С помощью функции groupby посчитайте сумму зарплат (Wage) футболистов клуба (Club) "Chelsea".

In [157]:
#задача 1
df.loc[df['Club'] == 'Chelsea']['Wage'].sum()

2035000

Определите максимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 20 лет.

In [163]:
#задача 2
nat=df.loc[df['Nationality'] == 'Argentina']
nat.loc[nat['Age'] == 20]['Wage'].max()

54000

Определите максимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 30 лет.

In [164]:
#задача 3
nat=df.loc[df['Nationality'] == 'Argentina']
nat.loc[nat['Age'] == 30]['Wage'].max()

300000

Определите минимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 30 лет.

In [165]:
#задача 4
nat=df.loc[df['Nationality'] == 'Argentina']
nat.loc[nat['Age'] == 30]['Wage'].min()

1000

Определите максимальную силу (Strength) и баланс (Balance) среди игроков клуба (Club) "FC Barcelona" из Аргентины ("Argentina"). Ответ через точку с запятой без пробела.

In [203]:
#задача 5
nat=df.loc[df['Nationality'] == 'Argentina']
minim_s=nat.loc[nat['Club'] == "FC Barcelona"][['Strength','Balance']].min()
m=[f'{minim_s[0]}',";",f'{minim_s[1]}']
s=''.join(m)
print(s)

59;95